spring:
  application:
    name: cloud-storage
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://host.docker.internal:5430/cloud_storage_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
server:
  error:
    whitelabel:
      enabled: false
    include-message: always
    include-path: never
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false
  servlet:
    context-path: /api
  port: 8080

logging:
  level:
    org.springframework.security: INFO